In [18]:
### 4
### 4.1

In [19]:
import pandas as pd

df = pd.read_csv('https://elteha.ru/data_science/precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gold       124 non-null    object
 1   silver     121 non-null    object
 2   platinum   124 non-null    object
 3   palladium  120 non-null    object
 4   date       128 non-null    object
dtypes: object(5)
memory usage: 5.1+ KB
None

C:\Users\Константин\AppData\Local\Temp\ipykernel_11012\3893413427.py:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

### 4.2

In [20]:
import pandas as pd

df = pd.read_csv('https://elteha.ru/data_science/precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

print(df)

        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85       NaN  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21    NaN  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]

C:\Users\Константин\AppData\Local\Temp\ipykernel_11012\68058663.py:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

### 4.3

In [21]:
df = pd.read_csv('https://elteha.ru/data_science/precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

print('blank gold:', df['gold'].isnull().sum())
print('blank silver:', df['silver'].isnull().sum())
print('blank platinum:', df['platinum'].isnull().sum())
print('blank palladium:', df['palladium'].isnull().sum())
print('blank date:', df['date'].isnull().sum())
print('\n'*3)

df_new = df.fillna(0)
# Проверим есть пустые колонки теперь
print(df_new)
print('blank gold:', df_new['gold'].isnull().sum())
print('blank silver:', df_new['silver'].isnull().sum())
print('blank platinum:', df_new['platinum'].isnull().sum())
print('blank palladium:', df_new['palladium'].isnull().sum())
print('blank date:', df_new['date'].isnull().sum())

blank gold: 4
blank silver: 7
blank platinum: 4
blank palladium: 8
blank date: 0




        gold silver platinum palladium             date
0     4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1    4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2    4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3    4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4    4673,64  60,85  2189,85         0  27.10.2020 0:00
..       ...    ...      ...       ...              ...
123  4047,21      0  1800,29   4298,85  09.05.2020 0:00
124   4023,9   35,7  1794,33   4324,99  08.05.2020 0:00
125  4040,41  35,85  1795,58   4221,39  07.05.2020 0:00
126  4014,11  35,86  1819,12   4655,36  01.05.2020 0:00
127   4041,8  35,93  1847,95   4638,83  30.04.2020 0:00

[128 rows x 5 columns]
blank gold: 0
blank silver: 0
blank platinum: 0
blank palladium: 0
blank date: 0

C:\Users\Константин\AppData\Local\Temp\ipykernel_11012\2844136271.py:2: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

### 4.4

In [22]:
df['gold'] = df['gold'].apply(lambda x: float(str(x).replace(',','.')))
df['silver'] = df['silver'].apply(lambda x: float(str(x).replace(',','.')))
df['platinum'] = df['platinum'].apply(lambda x: float(str(x).replace(',','.')))
df['palladium'] = df['palladium'].apply(lambda x: float(str(x).replace(',','.')))

print(df)

        gold  silver  platinum  palladium             date
0    4784.40   58.70   2183.31    5677.62  31.10.2020 0:00
1    4759.17   60.67   2195.94    5662.27  30.10.2020 0:00
2    4729.52   60.93   2179.19    5812.01  29.10.2020 0:00
3    4667.69   59.68   2145.92    5813.41  28.10.2020 0:00
4    4673.64   60.85   2189.85        NaN  27.10.2020 0:00
..       ...     ...       ...        ...              ...
123  4047.21     NaN   1800.29    4298.85  09.05.2020 0:00
124  4023.90   35.70   1794.33    4324.99  08.05.2020 0:00
125  4040.41   35.85   1795.58    4221.39  07.05.2020 0:00
126  4014.11   35.86   1819.12    4655.36  01.05.2020 0:00
127  4041.80   35.93   1847.95    4638.83  30.04.2020 0:00

[128 rows x 5 columns]

### 4.5

In [23]:
df = pd.read_csv('https://elteha.ru/data_science/precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)
df = df.fillna(0)
df['gold'] = df['gold'].apply(lambda x: float(str(x).replace(',','.')))
df['silver'] = df['silver'].apply(lambda x: float(str(x).replace(',','.')))
df['platinum'] = df['platinum'].apply(lambda x: float(str(x).replace(',','.')))
df['palladium'] = df['palladium'].apply(lambda x: float(str(x).replace(',','.')))

gold_mean = str(round(df['gold'].mean(),3))
silver_mean = str(round(df['silver'].mean(),3))
platinum_mean = str(round(df['platinum'].mean(),3))
palladium_mean = str(round(df['palladium'].mean(),3))
#Замена нулей на среднее каждого столбца
df['gold'] = df['gold'].apply(lambda y: str(float(y)).replace('0.0',(gold_mean)))
df['silver'] = df['silver'].apply(lambda y: str(float(y)).replace('0.0',(silver_mean)))
df['platinum'] = df['platinum'].apply(lambda y: str(float(y)).replace('0.0',(platinum_mean)))
df['palladium'] = df['palladium'].apply(lambda y: str(float(y)).replace('0.0',(palladium_mean)))
#Сохраняем в ексель файл
df.to_excel("data_metal_new.xlsx")
print(df)

        gold  silver platinum palladium             date
0     4784.4    58.7  2183.31   5677.62  31.10.2020 0:00
1    4759.17   60.67  2195.94   5662.27  30.10.2020 0:00
2    4729.52   60.93  2179.19   5812.01  29.10.2020 0:00
3    4667.69   59.68  2145.92   5813.41  28.10.2020 0:00
4    4673.64   60.85  2189.85  4679.691  27.10.2020 0:00
..       ...     ...      ...       ...              ...
123  4047.21  49.593  1800.29   4298.85  09.05.2020 0:00
124   4023.9    35.7  1794.33   4324.99  08.05.2020 0:00
125  4040.41   35.85  1795.58   4221.39  07.05.2020 0:00
126  4014.11   35.86  1819.12   4655.36  01.05.2020 0:00
127   4041.8   35.93  1847.95   4638.83  30.04.2020 0:00

[128 rows x 5 columns]

C:\Users\Константин\AppData\Local\Temp\ipykernel_11012\1476692751.py:2: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

### 4.6

In [24]:
df = pd.read_csv('https://elteha.ru/data_science/precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)
df.dropna(subset = ['gold', 'silver', 'platinum', 'palladium'], inplace = True) #Удаляем ячейки пропущенных значений
df.drop(["date"], axis = 1, inplace=True) # Удаляем колонку date
#Заменяем obejct на float
df['gold'] = df['gold'].apply(lambda x: float(str(x).replace(',','.')))
df['silver'] = df['silver'].apply(lambda x: float(str(x).replace(',','.')))
df['platinum'] = df['platinum'].apply(lambda x: float(str(x).replace(',','.')))
df['palladium'] = df['palladium'].apply(lambda x: float(str(x).replace(',','.')))
# Добавляем новые колонки
value_usd = float(73.41)
df["gold_usd"] = round(df['gold'] / value_usd, 2)
df["silver_usd"] = round(df['silver'] / value_usd, 2)
df["platinum_usd"] = round(df['platinum'] / value_usd, 2)
df["palladium_usd"] = round(df['palladium'] / value_usd, 2)
df.to_csv("precious_metal_new.csv")

print(df)

        gold  silver  platinum  palladium  gold_usd  silver_usd  platinum_usd  \
0    4784.40   58.70   2183.31    5677.62     65.17        0.80         29.74
1    4759.17   60.67   2195.94    5662.27     64.83        0.83         29.91
2    4729.52   60.93   2179.19    5812.01     64.43        0.83         29.69
3    4667.69   59.68   2145.92    5813.41     63.58        0.81         29.23
6    4750.35   61.74   2210.56    5957.61     64.71        0.84         30.11
..       ...     ...       ...        ...       ...         ...           ...
122  4021.69   36.56   1810.82    4403.10     54.78        0.50         24.67
124  4023.90   35.70   1794.33    4324.99     54.81        0.49         24.44
125  4040.41   35.85   1795.58    4221.39     55.04        0.49         24.46
126  4014.11   35.86   1819.12    4655.36     54.68        0.49         24.78
127  4041.80   35.93   1847.95    4638.83     55.06        0.49         25.17

     palladium_usd
0            77.34
1            77.13
2            79.17
3            79.19
6            81.16
..             ...
122          59.98
124          58.92
125          57.50
126          63.42
127          63.19

[107 rows x 8 columns]

C:\Users\Константин\AppData\Local\Temp\ipykernel_11012\758414204.py:2: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)