### 5
### 5.1

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

df.head()

      gold silver platinum palladium             date
0   4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1  4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2  4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3  4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4  4673,64  60,85  2189,85       NaN  27.10.2020 0:00

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gold       124 non-null    object
 1   silver     121 non-null    object
 2   platinum   124 non-null    object
 3   palladium  120 non-null    object
 4   date       128 non-null    object
dtypes: object(5)
memory usage: 5.1+ KB
None

### 5.2

In [16]:
df['date'] = pd.to_datetime(df.date, format = '%d.%m.%Y %H:%M')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gold       124 non-null    object
 1   silver     121 non-null    object
 2   platinum   124 non-null    object
 3   palladium  120 non-null    object
 4   date       128 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 5.1+ KB
None

### 5.3

In [1]:
import matplotlib.pyplot as plt
import pandas as pd


months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}

df['date'] = pd.to_datetime(df['date'])
df['month'] = pd.DatetimeIndex(df['date']).month

#Использование собственной функции
df['month'] = df['month'].apply(lambda i: months[i])



print(df)

NameError: name 'df' is not defined